@import "../../../common/common";

.search{
  @include flexCustom(row, flex-end);
  justify-self: flex-end;
  position: relative;
  transition: 0.3s ease-in-out;
  &__input{
    padding: 5px 10px;
    border: 1px solid $colorUnderline;
    background: $colorBg;
    color: $colorTinyText;
  }
  &__img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  &:hover{
     cursor: pointer;
   }
  &__results{
    position: absolute;
    top: 27px;
    left: 0;
    width: 100%;
    max-height: 30vh;
    overflow: scroll;
    z-index: 50;
    background-color: $colorBg;
    border: 1px solid $colorUnderline;
    &_item{
      border: 1px solid $colorUnderline;
      @include flexCustom(row, space-between, center);
      padding: 5px;
      &_text{

      }
      &_img{
        width: 30px;
      }
      &_selected{
        border: 1px solid $colorUnderline;
        @include flexCustom(row, space-between, center);
        padding: 5px;
        text-align: start;
        background-color: $colorUnderline;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}
