@import "../../../common/common";

.search{
  @include flexCustom(row, flex-end);
  justify-self: flex-end;
  &__input{
    padding: 5px 10px;
    border: 1px solid $colorUnderline;
    background: $colorBg;
    color: $colorTinyText;
  }
  &__img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  &:hover{
     cursor: pointer;
   }
}
