@import "../../common";

.losses{
  @include blockStyling();
  width: 100%;
  height: 100%;
  overflow: scroll;
  &__stat{
    @include flexCenter(column);
    &_name{
      @include fontLight(18px);
    }
    &_number{
      @include fontInjured(22px);
    }

  }
  &__list{
    @include flexCustom(column, space-between, start);
    &_item{
      border-bottom: 1px solid $colorUnderline;
      width: 100%;
      &_name{
        @include fontLight(18px);
        margin-right: 20px;
      }
      &_number{
        @include fontInjured(18px);
      }
    }
  }
}
