@import '../../../common/common';

.mapCountryInfo{
  position: relative;
  width: 10px;
  height: 10px;
  background-color: $colorInjured;
  border-radius: 50%;
  z-index: 20;
  transition: 1s ease-in-out;
  &:hover{
    cursor: pointer;
  }
}
