@import '../../../common/common';

.mapCountryInfo{
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 20;
  transition: 1s ease-in-out;
  &__text{
    @include fontLight(14px);
    &_flag{
      @include flag();
    }
  }

  &:hover{
    cursor: pointer;
  }
}
