@import './common/common.scss';

body{
  background: $colorBg;
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: $colorBlock;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
}
.App{
  margin: 0 auto;
  width: calc(100% - 40px);
  min-height: 100vh;
  padding: 0 20px;
}
