@import "../../common";

.title{
  width: 100%;
  background: $colorBlock;
  border-radius: 20px;
  height: 9vh;
  text-align: center;
  @include flexCenter(row);
  &Text{
    @include fontLight(26px);
  }

  margin-bottom: 20px;
}
