@import "../../common";

.title{
  width: 100%;
  background: $colorBlock;
  border-radius: 20px;
  line-height: 50px;
  text-align: center;
  &Text{
    @include fontLight(26px);
  }

  margin-bottom: 20px;
}
