@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

$colorBg : #BDFFFD;
$colorBlock : #9FFFF5;
$colorTinyText : #5E6973;
$colorInjured : #8e3f56;
$colorRecovered : #0e5e2a;
$colorUnderline : #6ABEA7;
$colorMenu: #73dfb6;

@mixin fontLight($size) {
  font-family: 'Nunito', sans-serif;
  font-size: $size;
  color: $colorTinyText;
  font-weight: 300;
}

@mixin fontInjured($size){
  font-family: 'Nunito', sans-serif;
  font-size: $size;
  color: $colorInjured;
  font-weight: 700;
}

@mixin fontRecovered($size){
  font-family: 'Nunito', sans-serif;
  font-size: $size;
  color: $colorRecovered;
  font-weight: 700;
}

@mixin flexCenter($direction){
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin flexCustom($direction, $justify:center, $align:center){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin flexRow(){
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin hoverElement(){
  border-bottom: 1px solid $colorUnderline;
  transition: .3s ease-in-out;
  &:hover{
    cursor: pointer;
    background-color: $colorUnderline;
  }
}

@mixin blockStyling() {
  background-color: $colorBlock;
  border-radius: 20px;
  position: relative;
}

@mixin btnStyling($borderRadius) {
  background: none;
  outline: none;
  border: none;
  transition: 0.3s ease-in-out;
  border-radius: $borderRadius;
  @include flexCenter(row);
  &:hover{
    cursor: pointer;
    border: none;
    background-color: $colorUnderline;
  }
}

@mixin stretchBtn() {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border-radius: 50%;
  border: none;
  transition: 0.3s ease-in-out;
  @include flexCenter(row);
  img{
    width: 14px;
    height: 14px;
  }
  &:hover{
    cursor: pointer;
    background: grey;
  }
}

@mixin selectElement() {
  @include fontLight(18px);
  background: #9ffff5;
  transition: .4s ease-in-out;
  &:hover{
    cursor: pointer;
  }
}

