@import "../../common/common";

.GlobalCases{
  @include flexCenter(column);
  @include blockStyling();
  width: 100%;
  margin-bottom: 20px;
  height: 20vh;
  &__text{
    @include fontLight(18px)
  }
  &__number{
    @include fontInjured(24px)
  }
}

.stretchButton{
  @include stretchBtn();
}
