@import "../../common";

.cases{
  @include flexCustom(column, start);
  @include blockStyling();
  width: 100%;
  height: calc(100% - 20vh - 40px );
  overflow: scroll;
  &__title{
    @include fontLight(18px);
  }
  &__list{
    @include flexCenter(column);
    width: 100%;
    &_item{
      margin-bottom: 20px;
      border-bottom: 1px solid $colorUnderline;
      width: 100%;
      text-align: center;
      &_injured{
        @include fontInjured(18px);
        margin-right: 20px;
      }
      &__country{
        @include fontLight(18px);
      }
    }
  }
}
