@import "../../common/common";

.cases{
  @include flexCustom(column, flex-start);
  @include blockStyling();
  width: 100%;
  height: calc(100% - 20vh - 40px );
  overflow: scroll;
  &__title{
    margin-left: 10px;
    @include fontLight(18px);
  }
  &__list{
    @include flexCenter(column);
    width: 100%;
    &_item{
      padding: 10px;
      margin: 5px 10px;
      border-radius: 20px;
      width: 90%;
      text-align: start;
      @include hoverElement();
      &_injured{
        @include fontInjured(18px);
        margin-right: 20px;
      }
      &_country{
        @include fontLight(18px);
      }
      &_selected{
        padding: 10px;
        margin: 5px 10px;
        border-radius: 20px;
        width: 90%;
        text-align: start;
        background-color: $colorUnderline;
        &:hover{
          cursor: pointer;
        }
      }
    }
    &_active{
      color: white;
    }
  }
}

