@import "../../common/common";

.diagramContainer{
  @include blockStyling();
  @include flexCustom(column, center);
  width: 100%;
  height: calc(100% - 40px) ;
  &__controls{
    width: 100%;
    @include flexCustom(row, space-around, center);
    flex: 1;
    margin-top: 10px;
    &__item{
      &_select{

      }
    }
  }
  &__graph{
    width: 100%;
    height: 100%;
  }
}
