@import "../../common/common";

.title{
  width: 100%;
  background: $colorBlock;
  border-radius: 20px;
  height: 9vh;
  text-align: center;
  @include flexCustom(row, space-around, center);
  &Text{
    @include fontLight(26px);
  }

  &__credits{
    @include flexCenter(row);
    &_author{
      img{
        width: 50px;
        height: 50px;
      }
    }
    &_school{
      img{
        width: 80px;
        height: 80px;
      }
      margin-left: 20px;
    }

  }
  margin-bottom: 20px;
}
